@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Weather App Landing page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">


    <link rel="stylesheet" href="~/css/swiper.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/iconfont.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootsnav.css">
    <link rel="stylesheet" href="~/css/weatherView.css">



    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->
    <!--Theme custom css -->
    <link rel="stylesheet" href="~/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="~/css/responsive.css" />

    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">


    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div><!--End off Preloader -->


    <div class="culmn pageWrapper">
        <!--Home page style-->


        <nav class="navbar navbar-default bootsnav navbar-fixed white no-background">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#brand">
                        <img src="~/images/logo.png" class="logo logo-display" alt="">
                        <img src="~/images/footer-logo.png" class="logo logo-scrolled" alt="">
                    </a>

                </div>
                <!-- End Header Navigation -->
                <!-- navbar menu -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/WeatherView">View Weather</a></li>
                        <li><a href="/WeatherUpload">Upload archives</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <!--Home Sections-->

        <section id="home" class="home">
            <div class="container">
                <div class="row">
                    <div class="main_home">
                        <div class="col-md-6">
                            <div class="home_text">
                                <h1 class="text-white">Weather app by koliazhern</h1>
                            </div>
                            <div class="home_btns m-top-40">
                                @* <input type="file" id="fileinfo" name="fileinfo" value="Choose files" class="btn btn-danger m-top-20" enctype="multipart/form-data" method="post" multiple>
                                <input type="submit" id="submit" class="btn btn-primary m-top-20" value="Upload"> *@
                                <form method="post" enctype="multipart/form-data"  name="fileinfo">
                                    <label id="label" class="btn btn-danger m-top-20">
                                                <span>
                                                    Choose files
                                                </span>
                                                <input class="inputFile" type="file" name="file" multiple required/>
                                            </label>
                                    <input type="submit" class="btn btn-primary m-top-20" value="Upload" />
                                </form>
                            </div>
                        </div>

                    </div>

                </div><!--End off row-->
            </div><!--End off container -->
        </section> <!--End off Home Sections-->


        <footer id="footer" class="footer bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-default bootsnav footer-menu no-background">
                            <div class="container">
                                <!-- navbar menu -->
                                <div class="collapse navbar-collapse" id="navbar-footer">
                                    <ul class="nav navbar-nav navbar-center">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/WeatherView">View Weather</a></li>
                                        <li><a href="/WeatherUpload">Upload archives</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JS includes -->

    <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>

    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/jquery.collapse.js"></script>
    <script src="~/js/bootsnav.js"></script>

    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/upload.js"></script>

</body>
</html>

